.App {
  text-align: center;
  font-family: 'Roboto Condensed', sans-serif;
}

body {
  background-color: rgba(255, 252, 248, 0.90);
}

h2 {
  font-weight: bolder;
}

.movie-container {
  display: flex;
  padding: 20px;
  width: 800px;
}

img {
  box-shadow: 1px 1px 10px 1px #8888888a;
}

.edit-movie-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 15px;
}

.movie-description-container {
  display: flex;
  flex-direction: column;
  align-content: flex-end;
  justify-content: center;
  text-align: start;
  padding: 10px;
  margin-left: 10px;
}

ul {
  list-style: none;
  padding: 0px;
}

button {
  padding: 4px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 5px;
  cursor: pointer;
  font-size: 12px;
  background-color: rgba(0, 0, 0, 0);
  outline: none;
  border: solid;
  border-width: thin;
  border-radius: 5px;
}

input {
  width: 250px;
  height: 20px;
  outline: none;
  text-align: center;
  margin-top: 12px;
  margin-bottom: 15px;
  font-size: 14px;
}

textarea {
  text-align: left;
  border: 1px solid lightgray;
  padding: 5px;
  font-size: 13px;
}