.App {
  text-align: center;
  font-family: 'Roboto Condensed', sans-serif;
}

h2 {
  font-weight: bolder;
}

.movie-container {
  display: flex;
  margin-left: 20px;
}

.edit-movie-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 15px;
}


.movie-description-container {
  display: flex; 
  flex-direction: column;
  align-content: flex-end;
  justify-content: center;
  text-align: left;
  padding: 10px;
}

ul {
  list-style: none;
  padding: 0px;
}
